/weights/mobile_net_v2_tl/class2.h5
/weights/mobile_net_v2_tl/class37.h5
/weights/mobile_net_v2_tl/history_class2.json
/weights/mobile_net_v2_tl/history_class37.json
/weights/mobile_net_v2_tl/local_output4.h5
/weights/mobile_net_v2_tl/local_output5.h5
/dataset/oxford_pet.zip
/dataset/oxford_pet/
